.logo {
    margin-left:1em;
    font-size: 0.8em;
}
.menu {
    justify-content: space-evenly
}
.menu li a {
    font-size: 1em;
}
.menu li a:hover::before{
    width:100%;
}
.container{
    grid-template-columns: 1fr;
}
.head h5{
    margin-bottom: 2em;

}
.form{
    padding:0.5em;
    font-size:0.8em;
}