    {{>homeHeader}}
    <div class="body">
        <div class = "container">
            <div class = "head">
                <img src="/img/symbol1.jpg" alt="">
                <h5>Water Quality Indicators Assessment In A Continuous Batch Hydrocarbon Polluted Water Treated System</h5>
            </div>
            {{>signin}}
            
        </div>
    </div>