    <header>
        <div class="logo">
            <h1>Aquabay</h1>
        </div>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </header>