<div class="form">

    <form method="POST" action="/signin">
        <br>
        <input type="email" placeholder="email" name="email" required><br>
        <br>
        <input type="password" placeholder="password" name="password" required><br>
        <br>
        <br>
        <input type="submit" value="Sign In" class="btn">
    </form>
</div>