<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aquabay</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <h1>Aquabay</h1>
        </div>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Administration</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </header>
    <div class="body">
        <div class = "container">
            <div class = "head">
                <img src="symbol1.jpg" alt="">
                <h5>Water Quality Indicators Assessment In A Continuous Batch Hydrocarbon Polluted Water Treated System</h5>
            </div>
            <div class = "form">
                
                <form>
                    <br>
                    <input type = "email" placeholder = "email"required><br>
                    <br>
                    <input type = "password" placeholder = "username" required><br>
                    <br>
                    <br>
                    <input type="button" value="Sign In" class = "btn">
                </form>
            </div>
            
        </div>
    </div>

</body>
</html>